<app-topmenu></app-topmenu>

<div class="container-fluid">
  <div class="row">


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!--Данные о пользователе-->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/img/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
<div class="formGroup">
  <input type="text" class="formControl question" placeholder="Задайте свой вопрос" name="newQuestion" required ng-model="askQuestion" [(ngModel)]="model" required>

</div>
<div class="formGroup">
  <button type="button" class="btn btnPrimary" (click)="askQuestion(user.uid)" ng-required="string">Задать новый вопрос</button>
  <button type="button" class="btn btnSecondary" (click)="getAllQuestions()">Показать все вопросы</button>
  <button type="button" class="btn btnMy" (click)="getOnlyMy(user.uid)">Показать только мои</button>
</div>

            </div>
          </div>
        </div>  

      </div>
      <div class="list_of_question">
        <div class="question_row">
          <ul class="question_body">
            <li *ngFor="let item of question_list">{{item}}</li>
          </ul>
        </div>
      </div>
    </main>

  </div>
</div>
