<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-link" href="/dashboard">
        <i class="fas fa-user"></i>User Profile
    </a>

    <a href="/allquestion" class="navbar-link">Все вопросы</a>
    <a href="/creation" class="navbar-link">Задать вопрос</a>
    <a class="navbar-link" routerLink="/dashboard">
        <img class="brand-logo" src="assets/img/galaxy.svg" alt="New Logo" width="20">
        <span class="dasboard-text">Личный кабинет</span>
    </a>
    <a class="navbar-link" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
    </a>
</nav>